# Ignore the virtual environment
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore saved media
*.jpg
*.wav
*.mp3
!beep.wav
!click.wav

# IGNORE SECRETS
.env

# Ignore cached preset recordings
preset_recordings/